/**
 * All of the CSS for your public-facing functionality should be
 * included in this file.
 */

.question {
    margin-top: 0px;
}
.segment {
    margin-top: 0px;
}
.control_label{
   margin-right:5px;
}
.chart_label{
   margin-bottom:5px;
   display:block;
}
#chart_description{
   width:100%;
   background-color: #474747;
}

#chart_and_info{
   width:100%;
   display:inline-block;
}

#chart_container{
   width:74%;
   background-color:#f2f2f2;
   float:left;
}
#chart_info{
   background-color: #474747;
   width:25%;
   float:right;
}

#chart_control{
   width:100%;
   padding-top:5px;
   display: inline-block;

}
.info{
   color: #FFFFFF;
   padding-left: 5px;
   margin-bottom: 3px;
}

.fadeMe {
   position: absolute;
   background: url('/wp-includes/js/mediaelement/loading.gif') no-repeat;
   background-position: center;
     background-color: rgba(0, 0, 0, 0.8);
     /*dim the background*/
     width:100%;
     height:100%;
     text-align: center;
     display: block none;
}
#jsdv_container{
   width: 100%;
  height: 100%;
  position: relative;
  display: inline-block;

}
#questions{
   background-color: #c4c4c4;
   width:75%;
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 10px;
}
#segments{

   background-color: #c4c4c4;
   width:75%;
   padding-top: 10px;
   padding-left: 5px;
   padding-right: 5px;
   padding-bottom: 10px;

}
@media screen and (max-width: 500px) {
   #chart_container{
      background-color:#f2f2f2;
      width:100%;
      float:left;
   }

   #chart_info{
      width:100%;
      float:left;
   }

   #questions{

      width:100%;
      float:left;
   }

   #segments{
      width:100%;
      float:left;
   }
}
